body{
  min-width: 1000px;
  min-height: 568px;
}

a,p,button,.locale {
  font-size: 13px;
  font-style: normal;
  font-family: sans-serif;
  text-decoration: none;
}

header{
  text-align: right;
  padding: 16px 30px;
}

header a,button {
  margin: 7px;
  color: #4d1a00;
}
header img {
  top: 7px;
  position: relative;
  width: 2em;
  height: 2em;
  opacity: 0.5;
}

header button{
  width: 70px;
  height: 30px;
  background-color: #4d79ff;
  border: 1px;
  border-radius: 2px;
  color: #FFF;
  font-weight: bold;
}

header a:hover{
  text-decoration: underline;
}

header img:hover {

  opacity: 1.0;
  /*filter:hue-rotate(100deg);
  -webkit-filter:hue-rotate(100deg);
  -moz-box-shadow:hue-rotate(100deg);
  box-shadow: 0 0 2px;
  -webkit-box-shadow: 0 0 2px;
  -moz-box-shadow: 0 0 2px;*/
}

header button:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  background-color: #0039e6;
}

form {
  position: relative;
  text-align: center;
  margin-top: 100px;
}

form input {
  width: 500px;
  border: none;
  outline: none;
  font: auto;
}

form > a {
  display: inline-block;
  margin: 15px 7px;
  padding: 13px;
  background-color: #f2f2f2;
  color: #666;
  font-weight: bold;
}

form > a:hover {
  box-shadow: 0 0 3px;
  color: #111;
}

form p > a:hover {
  text-decoration: underline;
}

form > a:focus {
  outline: 1px solid #00cccc;
}


footer {
  width: 100%;
  position: absolute;
  bottom:0;
  background-color: #f2f2f2;
}

footer div {
  height: 40px;
  padding-left: 30px;
  line-height: 40px;
  color: #666;
}


footer a {
  margin-right: 25px;
  color: #666;
}

.left ~ a {
  float: right;
}

.SearchField {
  width: 600px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0.5px solid #DDD;
  box-shadow: 0 2px 8px -4px;
}

.SearchField:hover {
  box-shadow: 0 2px 8px -3px;
}

.locale {
  border: 0.5px solid #DDD;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}
